*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

section{
    background-color: bisque;
    height: 100vh;

    /* Estrutura de layout pelo Grid */

    display: grid;

}

div{
    background-color: brown;
    width: 200px;
    height: 200px;
    margin: 10px;
}