*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#conteudo_principal{
    background-color: bisque;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    'cabecalho cabecalho cabecalho'
    'conteudo conteudo conteudo'
    'conteudo conteudo conteudo'
    'conteudo conteudo conteudo'
    'conteudo conteudo conteudo'
    'conteudo conteudo conteudo'
    'rodape rodape rodape';

}

#cabecalho{
    background-color: brown;
    grid-area: cabecalho;
    padding: 10px;
    display: grid;
    grid-template-areas: 
    'logo menu_principal menu_principal menu_principal';
    gap: 0 100px;
}

#logo{
    background-color: blueviolet;
    grid-area: logo;
}

#menu_principal{
    background-color: darkgoldenrod;

    grid-area: menu_principal;

}

#conteudo{
    background-color: cadetblue;
    grid-area:conteudo;

    display: grid;
    grid-template-areas: 
    'lateral especifico especifico';
}

#lateral{
    background-color: crimson;
    grid-area: lateral;

}

#conteudo_especifico{
    background-color: aquamarine;
    grid-area: especifico;

}

#rodape{
    background-color: chocolate;
    grid-area: rodape;

}