*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

section{
    background-color: bisque;
    height: 100vh;

    /* Estrutura de layout pelo Grid */

    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Tamanho da 1º linha , Tamanho da 2° linha */
    grid-template-rows: 1fr 2fr;

}

div{
    background-color: brown;
    height: 200px;
    border: 2px solid white;
    color: white;
}